@page "/"
@using WebApp
@inject LoginService loginService
@inject NavigationManager Nav
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container mt-5 text-end" dir="rtl">
    <h1 class="display-4 text-primary mb-4">הרשת החברתית שלי</h1>
    <h3>כניסה למערכת</h3>

    <div class="mb-3">
        <label>שם משתמש:</label>
        <input class="form-control" @bind-value="loginUser.UserName" />
    </div>

    <div class="mb-3">
        <label>סיסמה:</label>
        <input type="password" class="form-control" @bind-value="loginUser.Password" />
    </div>

    <button class="btn btn-primary" @onclick="HandleLogin">התחבר</button>

    @* קישור לדף ההרשמה בכתובת הקיימת *@
    <div class="mt-3">
        <span>עדיין לא רשומים? </span>
        <a href="/add-user">להרשמה למערכת לחצו כאן</a>
    </div>
</div>

@code {
    User loginUser = new User();

    private async Task HandleLogin()
    {
        bool success = await loginService.Login(loginUser.UserName, loginUser.Password);
        if (success)
        {
            Nav.NavigateTo("/posts-table");
        }
    }
}