@page "/"
@using WebApp
@* הזרקת השירות לניהול המשתמש המחובר *@
@inject LoginService loginService
@inject NavigationManager Nav

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container mt-5 text-end" dir="rtl">
    @* כאן התלמידים יכולים להתאים את שם האתר לנושא האישי של הפרויקט שלהם *@
    <h1 class="display-4 text-primary mb-4">הרשת החברתית שלי</h1>

    <h3>כניסה למערכת</h3>

    <div class="mb-3">
        <label>שם משתמש:</label>
        <input class="form-control" @bind-value="loginUser.UserName" />
    </div>

    <div class="mb-3">
        <label>סיסמה:</label>
        <input type="password" class="form-control" @bind-value="loginUser.Password" />
    </div>

    <button class="btn btn-primary" @onclick="HandleLogin">התחבר</button>
</div>

@code {
    User loginUser = new User();

    private async Task HandleLogin()
    {
        @*  המשתמש אימות  *@
        bool success = await loginService.Login(loginUser.UserName, loginUser.Password);

        if (success)
        {
            @*ההתחברות לאחר יפנה האתר שאליה הכתובת  את עדכנו  *@
            Nav.NavigateTo("/posts-table");
        }
    }
}